In [154]:
%pip install pandas

Requirement already satisfied: pandas in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/germain/Desktop/Projects/advent-of-code23/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

P1

In [155]:
import pandas as pd
import numpy as np

In [156]:
df = pd.read_fwf('input2.txt', header=None)

In [157]:
df.head(50)

     0    1    2    3
0  123  328   51   64
1   45   64  387   23
2    6   98  215  314
3    *    +    *    +

In [158]:
df2 = df.copy()

In [159]:
res = 0

In [160]:
for col in df2.columns:
    lacol = df2[col]
    if lacol.tail(1).item() == '+':
        res += lacol[:-1].apply(lambda x: int(x)).sum()

    else:
        res += lacol[:-1].apply(lambda x: int(x)).prod()

In [161]:
print(res)

4277556

P2

In [163]:
for col in df2.columns:
    lacol = df2[col]
    action =lacol.tail(1).item()
    lacol = lacol[:-1]


    new_df =lacol.str.split("", expand=True).apply(pd.to_numeric,errors='coerce')
    new_df =new_df.dropna(axis=1,how='any').astype(int)

new_df.head()

   1  2
0  6  4
1  2  3
2  3  1

In [165]:
for e in new_df:
    num = ""
    for i in new_df[e]:
        try:
            num += str(int(i))
        except:
            pass
    print(num)

623
431
4

In [ ]:
print(res)

8555112

In [218]:
with open("input.txt", "r", encoding="utf-8") as f:
    input_data = f.read().strip()

In [219]:
def transpose(data: str) -> list:
    return ["".join(x) for x in zip_longest(*data.split("\n"), fillvalue=" ")]

In [220]:
def calc_op(op: list) -> int:
    operator = op[0][-1]
    op[0] = op[0][:-1]
    numbers = [int(item) for item in op if item.strip()]
    return sum(numbers) if operator == "+" else math.prod(numbers)

In [221]:
gp = "\n".join(row.strip() for row in transpose(input_data)).split("\n\n")

res = sum(calc_op(group.splitlines()) for group in gp if group.strip())

In [222]:
print(res)

10142723156431